<section>
  <h1  class="flex items-center justify-center  bg-white-100 p-9 text-5xl" >Health Tracker </h1>
</section>

<section>
  <div (ngSubmit)="addExercise()" class="flex items-center justify-center min-h-screen bg-gray-100">

    <form class="w-full max-w-lg bg-white p-10 rounded-lg shadow-md">
      <div class="flex flex-wrap -mx-2 mb-5">
        <div class="w-full md:w-1/2 px-2">
          <label class="block  tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
            User Name
          </label>
          <input [(ngModel)]="username" name="username" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Akshay">
        </div>
      </div>
   
      <div class="flex flex-wrap -mx-3 mb-2">
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="block  tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
            WorkOutType
          </label>
          <div class="relative">
            <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
              <option>Running</option>
              <option>Cycling</option>
              <option>Swimming</option>
              <option>Yoga</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <label class="block  tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-zip">
            Workout Minutes
          </label>
          <input [(ngModel)]="workoutMinutes" name="workoutMinutes"   class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-zip" type="text" placeholder="60">
        </div>
      </div>
      <button *ngIf="User!='' && WorkOutType!=''" type="button" class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900">Add Workout</button>
    </form>
  </div>
  
</section>

